.container {
  display: flex;
  align-items: center;
  gap: 0.625rem;

  form {
    &::placeholder {
      color: var(--Color-Black50);
    }
  }
}

@media (width<=576px) {
  .container {
    width: 100%;
    justify-content: center;
    input {
      width: 70%;
    }
  }
}
