.titleH1 {
  font-family: var(--Font-Poppins);
  font-weight: 700;
  font-size: var(--Font-Size-h1);
  line-height: 60px;
  color: var(--Color-White);
}

.titleH2 {
  font-family: var(--Font-Poppins);
  font-weight: 700;
  font-size: var(--Font-Size-h2-p);
  line-height: 24px;
}

.textP {
  font-family: var(--Font-Inter);
  font-size: var(--Font-Size-h2-p);
  line-height: 19px;
  font-weight: 400;
}

.textP2 {
  font-family: var(--Font-Inter);
  font-size: var(--Font-Size-h2-p);
  line-height: 19px;
  font-weight: 700;
}

.textLabel {
  font-family: var(--Font-Inter);
  font-size: 14px;
  line-height: 19px;
  font-weight: 400;
}
