.container {
  box-sizing: border-box;
  width: 100%;
  display: flex;
  flex-direction: column;
  align-items: center;
  gap: clamp(0.938rem, -0.104rem + 2.894vw, 2.5rem);

  .containerTitle {
    width: 100%;
    display: flex;
    align-items: center;
    justify-content: end;
  }
  .containerBookList {
    width: 100%;

    ul {
      display: flex;
      flex-direction: row;
      flex-wrap: wrap;
      gap: 3.125rem;
      align-items: center;

      .card {
        position: relative;
        left: -1000px;
        width: 320px;
        height: 70px;
        padding: 40px 20px;
        display: flex;
        flex-direction: row;
        justify-content: space-between;
        align-items: center;
        border-left: 4px solid var(--Color-Blue);
        box-shadow: 10px 10px 5px 0px rgba(0, 0, 0, 0.43);
      }
    }
  }
}

@media (width <=576px) {
  .container {
    width: 100%;
    position: relative;
    padding-left: 20px;
  }

  .containerBookList {
    ul {
      align-items: center;
      justify-content: center;
    }
  }
}
