.container {
  box-sizing: border-box;
  padding: clamp(1.25rem, 0.417rem + 2.315vw, 2.5rem)
    clamp(1.25rem, 0.417rem + 2.315vw, 2.5rem);
  width: 100%;
  display: flex;
  align-items: center;
  justify-content: center;
  background-color: var(--Color-Blue);

  .containerInfos {
    width: 100%;
    display: flex;
    justify-content: space-between;
    align-items: center;
    color: var(--Color-White);
  }
}
@media (width <= 576px) {
  .containerInfos {
    flex-direction: column;
    gap: 0.9375rem;
  }
}
